body{

    background-color: beige;
}

.counter{
    
height: 298px;
width: 350px;
border: 2px solid palevioletred;
color: aquamarine;
margin: 142px 494px;
text-align: center;
padding: 50px;
background-color: darkgrey;
border-radius: 40px;
/* border-image: linear-gradient(#f6b73c, #4d9f0c) 60 space;  */
border-width: 10PX;
}
.counter h1{
   text-shadow: 5px 5px 5px deeppink;

}
.counter h1:hover{
  color: chartreuse;
  transition-duration: 2s;
}
.cout-button{
    height: 30px;
    width: 100px;
    border-radius: 5px 10px;
    margin: 8px;
     font-size: 14px; 
     background-color: black;
     color: white;
    font-weight: bolder;

}
.cout-button:hover{
    background-color: aqua;
    transition-duration: 5s;
}